* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-family: "Nunito", sans-serif;
  --transparent-bg-color: rgb(37, 37, 37);
  --menu-nav-color: #dee2e6;
  --box-shadow-color: #3e679e;
  --border-line-color: rgba(255, 255, 255, 0.15);
  --white-color-for-all: #fff;
  --dark-grey-color: #ffffffbf;
  --main-skills-color: #303d4e;
  --link-color: #6ea8fe;
  --dark-paragraph-color: #f8f9fabf;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: var(--font-family);
  background-color: var(--transparent-bg-color);
}
.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-image: url(./../images/pictures/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(6px);
  transform: scale(1);
  z-index: -1;
  opacity: 60%;
}
.header {
  font-weight: 700;
  color: var(--menu-nav-color);
}
.header__menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 35vh;
  height: 7vh;
  object-fit: cover;
}
.header__menu-links {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 35%;
  margin-top: 3.5px;
  width: 70vh;
  font-size: 17px;
}
.links {
  position: relative;
  transition: all 300ms ease;
  cursor: pointer;
  letter-spacing: 2px;
}
.links:hover {
  transform: scale(1.2);
}
.link {
  position: relative;
  padding: 10px 6px;
}
.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  height: 1px;
  width: 0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  background: none repeat scroll 0 0 transparent;
  background-color: var(--menu-nav-color);
}
.link:hover::after {
  width: 100%;
  left: 0;
}
.icons {
  margin-right: 5px;
}
.header__toggle-btn {
  cursor: pointer;
  overflow: hidden;
  font-size: 30px;
}
.menu-icon {
  padding: 5px 18px 15px 18px;
}
.header__dropdown-menu {
  position: absolute;
  right: 1.1rem;
  top: 60px;
  border-radius: 10px;
  height: 0;
  line-height: 2;
  box-shadow: 0 0 13px var(--box-shadow-color);
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  overflow: hidden;
  background-color: rgba(45, 46, 46, 0.15);
  font-size: 16px;
}
.header__dropdown-menu.open {
  padding: 10px 15px;
  height: 192px;
}
.drpdwn-link {
  display: block;
  border-radius: 11px;
  padding: 3px 10px;
  transition: all 10ms ease;
}
.dropdown-icons {
  margin-right: 8px;
  font-size: 16px;
}
.dropdown__border-line {
  margin: 9.5px 10.5px 10px 9.5px;
  border-top: 1px solid var(--border-line-color);
  overflow: hidden;
}
.main__container {
  margin: 30vh auto;
  border: 2px solid var(--box-shadow-color);
  border-radius: 20px;
  padding: 20px;
  max-width: 400px;
  height: 175px;
  text-align: center;
  box-shadow: 0 0 13px var(--box-shadow-color);
}
.main__paragraph {
  text-align: start;
  color: var(--dark-paragraph-color);
}
.main__link {
  color: var(--link-color);
}
.main__button {
  margin: 20px auto;
  border: 2px solid var(--box-shadow-color);
  border-radius: 15px;
  padding: 10px 25px;
  cursor: pointer;
  color: var(--dark-paragraph-color);
  box-shadow: 0 0 13px var(--box-shadow-color);
  background-color: transparent;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main__invisible-paragraph {
  display: none;
  position: absolute;
  top: 58%;
  right: 48%;
  opacity: 0;
  animation: blink 1s ease-in-out infinite;
  transition: opacity 0.5s ease;
  color: var(--box-shadow-color);
}
.main__invisible-paragraph.visible {
  display: block;
  opacity: 1;
}
.heart-icon {
  margin-right: 5px;
  font-size: 20px;
}
